body {
    font-family: Arial, sans-serif;
    background-color: #e3d982;
    margin: 0;
    padding: 20px
}

button {
    background-color: #375137;
    color: #e3d982;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding: 20px;  
  flex-direction: column;        
}
img {
  max-width: 100%;
  height: auto;
}

